[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "~=2.24"
telegram-send = "*"
requests = ">=2.32"

[dev-packages]
pytest = "*"
ruff = "*"

[requires]
python_version = "3.12"
